extends ../layout/base.pug

block content
  .container
    .dashboard
      .sidebar
        h3 Меню
        a(href="/admin/dashboard") Дашборд
        a(href="/admin/vets") Ветеринары
        a(href="/admin/services") Услуги
        a(href="/admin/schedule") Расписание
        a(href="/admin/clients" class="active") Клиенты

      .main-panel
        h1.dashboard-title Управление клиентами

        .table-responsive
          table
            thead
              tr
                th ФИО
                th Email
                th Телефон
                th Животных
                th Действия
            tbody
              tr
                td colspan="5" Клиентов нет
